

<button mat-button (click)="addData()">ADD</button>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select [formControl]="toppings" multiple (selectionChange)="selectionChange($event)">
    <mat-option *ngFor="let topping of selectOptions" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<table mat-table [dataSource]="dataToDisplay" class="mat-elevation-z8">
  <ng-container *ngFor="let colums of displayedColumns" matColumnDef="{{colums}}">
    <th mat-header-cell *matHeaderCellDef> {{colums}} </th>
    <td mat-cell *matCellDef="let element"> {{element[colums]}} </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">setting</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="editData(element)">
        EDIT
      </button>
      <button mat-icon-button aria-label="expand row" (click)="removeData(element.id)">
        REMOVE
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"></tr>
  
</table>
<!-- <app-dialog></app-dialog> -->
